$l-gray : #666;
$gray : #6e7381;
$gray-1 : #959da5;
$gray-2 : #e6e9f0;
$gray-9 : #fafbfc;
$gray-bottom:#f4f6f9;
$gray-top:#e0e3e6;
$red : #ff7676;
$yellow : #e3b57f;
$brown : #b48056;
$green : #79cd51;
$blue : #03a9f3;
$orange : #fc6527;
$black:#2a3542;
$activeColor:#1B9BF0;
$light : #d6e2ed;
$border:1px solid #E5EBF1;